@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: url("/back2.webp") no-repeat; */
  background: rgb(174,183,238);
 background: linear-gradient(167deg, rgb(7, 13, 48) , rgb(36, 14, 43), rgb(5, 47, 107) );

  background-color: rgb(var(--background-end-rgb));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.recent-track {
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
}
.recent-track__body {
  display: inline-block;
  padding-left: 2rem;
}
.recent-track__name, .recent-track__artist, .recent-track__album {
  display: inline;
}
.recent-track__icon {
  width: 18px;
  height: 14px;
  position: relative;
  display: flex;
}
.recent-track__icon span {
  height: 100%;
  width: 2px;
  background: white;
  transform-origin: bottom;
  margin: 1px;
}
.recent-track__icon span:nth-child(1) {
  -webkit-animation: sound1 0.6s infinite ease-in;
          animation: sound1 0.6s infinite ease-in;
}
.recent-track__icon span:nth-child(2) {
  -webkit-animation: sound2 0.6s infinite ease-in;
          animation: sound2 0.6s infinite ease-in;
}
.recent-track__icon span:nth-child(3) {
  -webkit-animation: sound3 0.6s infinite ease-in;
          animation: sound3 0.6s infinite ease-in;
}
.recent-track__icon span:nth-child(4) {
  -webkit-animation: sound4 0.6s infinite ease-in;
          animation: sound4 0.6s infinite ease-in;
}

@-webkit-keyframes sound1 {
  20% {
    transform: scaleY(0.5);
  }
}

@keyframes sound1 {
  20% {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes sound2 {
  40% {
    transform: scaleY(0.5);
  }
}
@keyframes sound2 {
  40% {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes sound3 {
  60% {
    transform: scaleY(0.5);
  }
}
@keyframes sound3 {
  60% {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes sound4 {
  80% {
    transform: scaleY(0.5);
  }
}
@keyframes sound4 {
  80% {
    transform: scaleY(0.5);
  }
}
/* Width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.767);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.253);
  border-radius: 5px;
}